/* NAV BAR STYLING */
.nav-bar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* overflow: auto; */
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;
}

.nav-link {
  display: flex;
  border: none;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
  font-family: inherit;
  width: 100px;
  padding: 30px;
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 200ms ease-out;
  cursor: pointer;
}

.last-child {
  position: absolute;
  bottom: 20px;
}

.active {
  color: var(--twitter-color);
}

@media (max-width: 854px) {
  .nav-bar {
    /* display: flex; */
    flex: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    overflow: hidden;
    border-right: none;
  }

  .nav-link {
    padding: 0px;
    margin: 0px;
  }

  .nav-link > p {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    display: inline;
    /* float:left; */
    /* text-align: center; */
  }

  .last-child {
    position: unset;
    /* bottom: 20px; */
  }
}