.App {
  text-align: center;

}

.App-header {
  background-color: #616161;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* TWEET CARDS */
.tweetInput {
  display: inline-block;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
  width: 50%;
  min-height: 60px;
  line-height: 20px;
  word-wrap: break-word;
}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}
.profile-card {
  display: inline-block;
  text-align: left;
  padding: 6px 10px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  background-color: white;
}

.tweet-card {
  display: inline-block;
  text-align: left;
  padding: 6px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.tweet-container {
  padding: 6px 8px;
}

span.main-username{
  color: black;
  font-weight: bold;
  font-size: x-large;
  
}

span.sub-username{
  font-size: medium;
  color: rgb(173, 173, 173)
}

/* NAV BAR STYLING */
.nav-bar {
  background-color: #616161;
  position: sticky;
  top: 0;
}

.nav-link {
  display: inline-flex;
  justify-content: center;
  font-size: 18px;
  font-family: inherit;
  width: 100px;
  padding: 14px;
  /* margin: 6px 6px; */
  color: rgb(241, 241, 241);
}

.nav-link:hover {
  background-color: #292525;
}

.nav-link:last-child {
  float: right;
}

.active {
  background-color: #da8c10;
}