.nav-bar {
  background-color: #4e4e4e;
  position: sticky;
  top: 0;

}

.nav-link {
  display: inline-flex;
  justify-content: center;
  font-size: 18px;
  font-family: inherit;
  width: 100px;
  padding: 14px;
  /* margin: 6px 6px; */
  color: rgb(241, 241, 241);
}

.nav-link:hover {
  background-color: #292525;
}

.nav-link:last-child {
  float: right;
}

.active {
  background-color: #da8c10;
}